---
import Layout from "../../layouts/Layout.astro";
import HeroCarousel from "../../components/HeroCarousel.astro";
import ServicesSlider from "../../components/ServicesSlider.astro";
import WorksGallery from "../../components/WorksGallery.astro";
import LeadGenCTA from "../../components/LeadGenCTA.astro";
import { getCollection } from "astro:content";

const allProjects = await getCollection("projects");
const projects = allProjects.filter((p) => p.data.status === "en_ejecucion");
---

<Layout title="Proyectos En Ejecución | Savec">
    <div class="pt-20">
        <HeroCarousel projects={projects} />
        <ServicesSlider />
        <WorksGallery projects={projects} />
        <LeadGenCTA />
    </div>
</Layout>
